/* App */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #f5cb46;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 15px;
}

@media screen and (min-width: 786px) {
    .container {
        padding: 30px;
    }
}

/* Header */

.Header {
    padding: 15px 0;
}

@media screen and (min-width: 1240px) {
    .Header {
        padding: 55px 0;
    }
}

/* TileList */

.TileList {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: column;
}

/* ListItem */

.Tile {
    display: flex;
    margin: 30px;
    border-radius: 4px;
    position: relative;
    width: calc(100% - 30px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09), 0 2px 6px rgba(0, 0, 0, 0.13);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.Tile:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 650px) {
    .Tile {
        width: calc(100% / 2 - 60px);
    }
}

@media screen and (min-width: 1024px) {
    .Tile {
        width: calc(100% / 3 - 60px);
    }
}

.Tile__container {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    margin: -15px;
}

@media screen and (min-width: 786px) {
    .Tile__container {
        padding: 0;
        margin: 0 -30px;
    }
}

.Tile__inner {
    padding: 60px 40px;

    flex: 1 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

}

.Tile__image {
    max-height: 160px;
}

@media screen and (min-width: 786px) {
    .Tile__image {
        max-height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .Tile__image {
        max-height: 260px;
    }
}

.Tile__title {
    font-weight: bold;
    color: #f5cb46;
    font-size: 20px;
    padding: 14px 0 7px 0;
    text-align: center;
}

.Tile__subtitle {
    font-size: 14px;
}

